################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitHub_ClidataGIS_Documentations/FileContentIndex
/.vs/slnx.sqlite
/.vs/GitHub_ClidataGIS_Documentations/v17
